.moviescard__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
    column-gap: 20px;
    row-gap: 32px;
    padding: 0 0;
    margin: 0 0;
    justify-content: center;
    margin-bottom: 30px;
}
.movies{
    padding: 70px 70px 80px;
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.movies__more{
    width: 320px;
    height: 36px;
    margin: 0 auto;
    margin-top: 50px;
    align-self: center;
    background: #2F2F2F;
    border-radius: 6px;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border:none;
}

.moviescard__empty{
    color: white;
    text-align: center;
}

@media screen and (max-width: 1023px){
    .movies {
        padding-left: 30px;
        padding-right: 30px;
    }

    .moviescard__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(339px, 339px));
        column-gap: 30px;
        row-gap: 36px;
    }
  }

  @media screen and (max-width: 767px){
    .movies {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
    }
    .moviescard__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        row-gap: 20px;
    }
    .movies__more{
        width: 240px;
    }
  } 